{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>My Django Blog</title>
        <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
    </head>
    <body>
        <div id="header">
         <ul id="control-bar">
         {% if user.is_authenticated %}
         <li> {{ user.get_username }} </li>
         {% else %}
         <li><a href="{% url 'admin:login' %}">login</a></li>
         {% endif %}
         <li><a href="{% url 'post_new' %}">Create New Post</a></li>
         <li><a href="{% url 'blog_index' %}">List Posts</a></li>
         </ul>
        </div> 
        <div id="container">
            <div id="content">
            {% block content %}
            {% endblock content %}
            </div>
        </div>
    </body>
</html>